@import '@fontsource/space-grotesk/300.css';
@import '@fontsource/space-grotesk/400.css';
@import '@fontsource/space-grotesk/500.css';
@import '@fontsource/space-grotesk/700.css';
@import '@fontsource-variable/inter';

@import "tailwindcss";
@import "tw-animate-css";


@custom-variant dark (&:is(.dark *));

:root {
  --background: #e8e8e8;
  --foreground: #1a1a2e;
  --card: #ffffff;
  --card-foreground: #1a1a2e;
  --popover: #ffffff;
  --popover-foreground: #1a1a2e;
  --primary: #8bf046;
  --primary-foreground: #1a1a2e;
  --secondary: #243b6e;
  --secondary-foreground: #e8e8e8;
  --muted: #d9d9d9;
  --muted-foreground: #2e2e4a;
  --accent: #c8f0a0;
  --accent-foreground: #1a1a2e;
  --destructive: #ff9a3c;
  --destructive-foreground: #1a1a2e;
  --border: #cccccc;
  --input: #cccccc;
  --ring: #8bf046;
  --chart-1: #8bf046;
  --chart-2: #ff9a3c;
  --chart-3: #c8f0a0;
  --chart-4: #243b6e;
  --chart-5: #1a1a2e;
}

.dark {
  --background: #1a1a2e;
  --foreground: #e8e8e8;
  --card: #0f1c38;
  --card-foreground: #e8e8e8;
  --popover: #0f1c38;
  --popover-foreground: #e8e8e8;
  --primary: #8bf046;
  --primary-foreground: #1a1a2e;
  --secondary: #0f1c38;
  --secondary-foreground: #e8e8e8;
  --muted: #152240;
  --muted-foreground: #c8f0a0;
  --accent: #c8f0a0;
  --accent-foreground: #1a1a2e;
  --destructive: #ff9a3c;
  --destructive-foreground: #1a1a2e;
  --border: #152240;
  --input: #152240;
  --ring: #8bf046;
  --chart-1: #8bf046;
  --chart-2: #ff9a3c;
  --chart-3: #c8f0a0;
  --chart-4: #243b6e;
  --chart-5: #1a1a2e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius: 0.5rem;

  /* fonts */
  --font-grotesk: "Space Grotesk", sans-serif;
  --font-inter: "Inter", sans-serif;

  /* Title */
  --text-title-name:clamp(3.8rem, 9vw, 8.5rem);

  /* subtitle */
  --color-subtitle: #ffffff2d;
  --color-boiler: #3D5A35;
  --color-plate: #D4924A;
}

body {
  font-family: var(--font-grotesk);  
  background-color: var(--foreground);
}